*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: black;
}
img{
    cursor: pointer;
}
.icons{
    font-size: 23px;
}

/*header*/
.header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header li{
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
} 
/*top_header*/
.top_header{
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
.top_left{
    display: flex;
}
.top_right{
    display: flex;
}

/*navbar*/
.navbar{
    margin-left: 295px;
    margin-top: 20px;
    display: flex;
}
.search_input{
    border-bottom: 1px solid black;
    margin: 10px 10px 10px 100px;
    padding: 0 !important;
    
}
.search_input input{
    border: none;
    outline: none;
    padding: 5px;
    
}
/*main*/
.main{
    display: flex;
    justify-content: center;
}
.main_wrap{
    width: 1200px;
    align-items: center;
    justify-content: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    
}

/*card*/
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}