*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: black;
}
img{
    cursor: pointer;
}
.icons{
    font-size: 23px;
}
input{
    border: none;
    outline: none;
}

/*header*/
.header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header li{
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
} 
/*top_header*/
.top_header{
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
.top_left{
    display: flex;
}
.top_right{
    display: flex;
}

/*navbar*/
.navbar{
    margin-left: 295px;
    margin-top: 20px;
    display: flex;
}
.search_input{
    border-bottom: 1px solid black;
    margin: 10px 10px 10px 100px;
    padding: 0 !important;
    
}
.search_input input{
    border: none;
    outline: none;
    padding: 5px;
    
}
/*main*/
.main{
    display: flex;
    justify-content: center;
}
.main_wrap{
    width: 1200px;
    align-items: center;
    justify-content: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    
}

/*card*/
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*login*/
.login{
    
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.login_wrap{
    padding: 50px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login_form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.input_div{
    box-sizing: border-box;
    margin: 10px 0;
    padding: 2px;
    border-bottom: 1px solid black;
}

.input_div input{
    padding: 3px;
    font-size: 17px;
}
.login_btn{
    color: white;
    background-color: rgb(27, 143, 220);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 17px;
    height: 30px;
}